.stick-title-wrap{
    width:100%;
    height:80px;
    display:flex;
    justify-content:center;
    align-items:center;
    h3{
        font-family:'Pretendard-bold';
        font-size:24px;
    }
}
.stick-label-wrap{
    position:absolute;
    bottom:0;
    ul{
        display:flex;
        justify-content:center;
        li{
            width:50px;
            font-family:'Pretendard-regular';
            font-size:10px;
            color:#747474;
            text-align:center;
        }
    }
}

.seo-stickgraph{
    display:flex;
    .seo-first{
        width:400px;
        height:470px;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        position:relative;
    }
    .seo-home{
        width:400px;
        height:470px;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        position:relative;
    }
}